@model IEnumerable<SonKhoatnhom4.Models.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<h1>Xuất Kho</h1>

<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.MaXuatkho)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Makhachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHangHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhsachNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenncc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Trangthai == "Xuất kho")
    {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaXuatkho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Makhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHangHoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHangHoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mancc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenncc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
           
        </tr>
    }
       
}
    </tbody>
</table>
