@model SonKhoatnhom4.Models.ImportStorage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImportStorage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryProduct.MaHangHoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhsachNCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhsachNCC.Mancc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNhapKho">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
