@model IEnumerable<SonKhoatnhom4.Models.ImportStorage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhapKho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhsachNCC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryProduct.MaHangHoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhapKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhsachNCC.Mancc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhapKho">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhapKho">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhapKho">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
